<div class="wiersz">
    <div class="klocek2" style="left: 15px;">{{id}}</div>
    <div class="klocek2" style="left: 165px;">
        <img style="margin-top:-5px;" width="40px" height="40px" src="/gfx/{{sprawdz_czy_istnieje ext}}.png">
    </div>
    <div class="klocek2" style="left: 295px;">{{name}}</div>
    <div class="klocek2" style="left: 465px;">{{size}}</div>
    <div class="klocek2" style="left: 615px;">{{type}}</div>
    <div class="klocek2" style="left: 765px;"><a href="/del/{{id}}">delete</a></div>
    <div class="klocek2" style="left: 915px;"><a href="/info/{{id}}">info</a></div>
    <div class="klocek2" style="left: 1065px;"><a href="/download/{{id}}">download</a></div>
</div>