<div id="left">
    <div id="napis">file info</div>
</div>
<div id="right">
    {{#if id}}
    <div class="klocek3">id:
        <div class="klocek3">
            {{id}}
        </div>
    </div>
    <div class="klocek3">name:
        <div class="klocek3">
            {{name}}
        </div>
    </div>
    <div class="klocek3">path:
        <div class="klocek3">
            {{path}}
        </div>
    </div>
    <div class="klocek3">size:
        <div class="klocek3">
            {{size}}
        </div>
    </div>
    <div class="klocek3">type:
        <div class="klocek3">
            {{type}}
        </div>
    </div>
    <div class="klocek3">date:
        <div class="klocek3">
            {{savedate}}
        </div>
    </div>
    {{/if}}

</div>